<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/docs.min.css">
  <script type="text/javascript">
    window.REPOS = []
    {{#repositories}}
    window.REPOS.push(['{{{id}}}', '{{{url}}}'])
    {{/repositories}}
  </script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-2 toc" role="complementary">
      <div class="logo">
        <img src="assets/delta-logo.svg" />
      </div>
      <nav id="toc" class="bs-docs-sidebar"><ul class="nav nav-stacked fixed"></ul></nav>
    </div>
    <div class="col-md-9" role="main">
      <div id="splash">
        <h1 class="page-header">Knowledge Base</h1>
        <p class="lead">Learn how to build ads in HTML5, participate in Delta Project's Ad Exchange or build systems that integrate with our platform.</p>
        <div id="contents"></div>
      </div>
      <div id="doc"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/bower.min.js"></script>
<script type="text/javascript" src="js/docs.min.js"></script>

</body>
</html>
